/* 
resize an iframe to its content
https://stackoverflow.com/questions/17838607/making-an-iframe-responsive
https://jsfiddle.net/omarjuvera/8zkunqxy/2/
 */

.iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  padding-top: 25px;
  height: 0;
  
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
